<nav>
    <ul>
        <li><a href="/home" style="color:aliceblue">CLSR</a></li>
        <li>
            <form action="">
                <input type="search" name="search" placeholder="Search">
                <button>Search</button>
            </form>
        </li>
        <li><a href="/profile" style="color:aliceblue">Profile</a></li>
    </ul>
</nav>