<%-include('partials/head.ejs', {'title':'Inicio'})%>
<%-include('partials/header.ejs')%>
    <form action="/comment_photo" method="POST">
        <textarea name="comments" cols="30" rows="10" placeholder="Put Your Comment Here"></textarea>
        <br>
        <br>
        <button>Comment</button>
    </form>
<%-include('partials/footer.ejs')%>