<%-include('partials/head.ejs', {'title':'Imagem'})%>
<%-include('partials/header.ejs')%>
    <form action="/image" method="POST" enctype="multipart/form-data">
        <textarea name="description" id="" cols="30" rows="10" placeholder="Descr1pt10n"></textarea>
        <br><br>
        <select name="visibility">
            <option value = "0">Hide photo</option>
            <option value = "1">Show photo</option>
        </select>
        <br><br>
        <select name = "show_likes">
            <option value = "0">Hide likes</option>
            <option value = "1">Show likes</option>
        </select>
        <br><br>
        <input type="file" name="image">
        <br><br>
        <input type = "submit" value="submit">
    </form>
<%-include('partials/footer.ejs')%>