<%-include('partials/head.ejs', {'title': 'Welcome'})%>
<%-include('partials/header.ejs')%>
<a href="/signin" style="color:white">Sign In</a>
<br>
<a href="/signup" style="color:white">Sign Up</a>
<%-include('partials/footer')%>